@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vm-primary: #503c3b;
  --vm-secondary: #edceab;
  --vm-rounded-md: 100px;
  --vm-text-lg: 90px;
  --vm-leading-lg: 96px;
  --vm-lspacing-lg: -1.82px;
  --vm-text-md: 52px;
  --vm-leading-md: 58px;
  --vm-lspacing-md: -1.05px;
  --vm-text-sm: 28px;
  --vm-leading-sm: 31px;
  --vm-lspacing-sm: -1.05px;
}

body {
  overflow-x: hidden !important;
}

.vm-h1 {
  font-size: var(--vm-text-lg);
  font-weight: bold;
  line-height: var(--vm-leading-lg);
  letter-spacing: var(--vm-lspacing-lg);
  text-transform: capitalize;
}

.vm-h1-lg {
  font-size: 120px;
  color: var(--vm-secondary);
}

.vm-h1-md {
  font-size: 80px;
  line-height: 85px;
}

.vm-h1-text {
  font-size: 85px;
  font-weight: 600;
  letter-spacing: -0.0375em;
  line-height: 1.15;
}

.vm-h4-text {
  font-size: 30px;
  font-weight: 500;
  text-transform: none;
  font-style: normal;
  line-height: 35px;
  -webkit-text-stroke-color: #000;
  stroke: #000;
}

.vm-h2 {
  font-size: var(--vm-text-md);
  font-weight: bold;
  line-height: var(--vm-leading-md);
  letter-spacing: var(--vm-lspacing-md);
  text-transform: capitalize;
}

.vm-h2-ext {
  font-size: 35px;
  font-weight: bold;
  line-height: 58px;
  letter-spacing: var(--vm-lspacing-md);
  margin-bottom: 40px;
}

.no-bord .MuiAccordion-root::before {
  border: none !important;
  background-color: transparent !important;
}

.hoverAccord .MuiTypography-root:hover {
  color: #fff !important;
}

.vm-h3 {
  font-size: var(--vm-text-sm);
  font-weight: 600;
  line-height: var(--vm-leading-sm);
  letter-spacing: var(--vm-lspacing-sm);
  text-transform: capitalize;
}

.vm-h3-ext {
  font-size: 24px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: var(--vm-lspacing-sm);
  text-transform: none;
}

.vm-bg,
body {
  background-color: var(--vm-primary);
}

.vm-btn-hover:hover {
  background: rgb(80 60 59 / 86%) !important;
}

.vm-bg-sec {
  background-color: var(--vm-secondary);
}

.lht-md {
  line-height: 45px !important;
}

.vm-logo {
  font-weight: 700;
  font-style: normal;
}

.vm-text-sec {
  color: var(--vm-secondary);
}

.vm-text-primary {
  color: var(--vm-primary);
}

.vm-link a {
  color: var(--vm-secondary);
  font-weight: 500;
  line-height: 18px;
  font-size: 16px;
}

.vm-link a.vm-link-active {
  color: #fff !important;
}

.vm-hover:hover {
  background-color: rgba(237, 206, 171, 0.2);
  transition: all 0.3s ease;
}

.vm-no-capitalise {
  text-transform: unset !important;
}

.vm-list li {
  padding-left: 19px;
  position: relative;
}

.vm-list li::before {
  position: absolute;
  content: "";
  left: 0;
  top: 7px;
  width: 8px;
  height: 8px;
  background: var(--vm-secondary);
  border-radius: 99px;
  border: 1px solid #fff;
}

.vm-circle-numb {
  fill: #edceab;
  color: #edceab;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #eeeeee;
  border-radius: 100px 100px 100px 100px;
  line-height: 31px;
  font-size: 24px;
  display: inline-block;
  text-align: center;
}

@media (min-width: 790px) {
  .socialMedia li {
    width: 100%;
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

.socialMedia li a {
  background: rgba(255, 255, 255, 0.06);
  padding: 8px;
  border-radius: 100%;
  color: var(--vm-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialMedia li a {
  height: 40px;
  width: 40px;
  padding: 0;
}

.faq-desc {
  color: #fff !important;
}

.socialMedia li {
  width: 100%;
}

.socialMedia li a svg {
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
}

.socialMedia li a svg:hover {
  color: #fff;
}

.isPlaying {
  border-color: var(--vm-primary) !important;
  background-color: rgba(79, 60, 59, 0.5);
  border-width: 0.2px !important;
}

.isPlaying.mob-svg svg path {
  fill: var(--vm-secondary) !important;
}

.socialMedia li {
  text-align: left !important;
  align-items: flex-start !important;
  justify-content: flex-start;
}

.vm-accord {
  border-radius: 8px !important;
  overflow: hidden !important;
}

@media (max-width: 1024px) {
  .vm-display-md {
    display: block !important;
  }
  .vm-hidden-md {
    display: none !important;
  }

  .vm-no-p-right {
    padding-right: 0 !important;
  }

  .vm-no-p-left {
    padding-left: 0 !important;
  }

  .vm-no-p-top {
    padding-top: 0 !important;
  }

  .vm-no-p-bottom {
    padding-bottom: 0 !important;
  }

  .vm-no-br br {
    display: none !important;
  }

  .vm-no-bold {
    font-weight: normal !important;
  }

  .vm-h3-ext {
    font-size: 20px !important;
    letter-spacing: normal !important;
  }

  .vm-h1-md {
    font-size: 40px !important;
    line-height: normal !important;
  }
}

@media (max-width: 768px) {
  .vm-h2-ext {
    font-size: 30px !important;
    font-weight: 500 !important;
    line-height: 1.2em;
    margin-bottom: 15px;
  }

  .no-bord .MuiAccordionSummary-root {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
  }

  .no-bord .MuiTypography-root {
    font-size: 16px !important;
    line-height: 1.6em !important;
  }

  .no-bord .MuiTypography-root.faq-desc {
    color: #fff !important;
  }

  .hoverAccord .MuiTypography-root:hover {
    color: var(--vm-secondary) !important;
  }

  .mob-svg svg {
    transform: scale(0.6) !important;
  }
  .vm-accord .MuiPaper-elevation {
    background-color: #5c4948 !important;
    box-shadow: none !important;
  }

  .vm-accord .MuiAccordionSummary-content,
  .vm-accord .MuiSvgIcon-root {
    color: #d6c2b4 !important;
  }

  .vm-logo-mobile {
    width: 50px !important;
    height: 50px !important;
  }

  .vm-btn-link {
    padding: 8px 12px 8px 12px !important;
    font-size: 14px !important;
  }

  .lht-md {
    line-height: normal !important;
  }
  .vm-h1 {
    font-size: 40px !important;
    line-height: normal !important;
  }
  .vm-h2.vm-logo {
    font-size: 32px !important;
  }

  .vm-no-bxshadow img {
    box-shadow: -11px 12px 25px 0px rgba(0, 0, 0, 0.3) !important;
  }

  .socialMedia li {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
  }

  .vm-h1-text,
  .vm-anim-text {
    font-size: 36px !important;
  }

  .vm-h4-text {
    font-size: 19px;
    line-height: normal;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
  }

  .vm-h2 {
    font-size: 35px !important;
    letter-spacing: normal !important;
    line-height: normal !important;
  }

  .vm-roller {
    top: 110px !important;
    right: 30% !important;
    transform: translateX(-40%);
  }
}

@media (min-width: 1200px) {
  .vm-container {
    max-width: 1200px;
  }

  .vm-drawer {
    display: none !important;
  }
}

@media (min-width: 996px) and (max-width: 1290px) {
  .vm-w-tab {
    width: auto !important;
  }
}

@media (max-width: 380px) {
  .vm-btn-link {
    padding: 8px 15px 8px 15px !important;

    font-weight: normal !important;
  }

  .vm-btn-link span {
    font-size: 14px !important;
  }
}

@media (max-width: 435px) {
  .pr-sm {
    padding-right: 20px !important;
  }

  .vm-btn-link {
    display: inline-flex !important;
    font-size: 15px !important;
  }

  .vm-btn-link span {
    font-size: 15px !important;
  }
}
